node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# comment deployed-mock.json
deployed-mock.json
deployed-addresses.json
deployed-sepolia.json
deployed-sepolia-addresses.json
deployed-sepolia-addresses.json